 .editInput{
    display: grid;
 }

 .inputs{
    margin-top: 10px;
    margin-bottom: 8px;
 }

 .closebutton{
    top: 0;
    right: 0;
    position: fixed;
 }

.edit-select{
    margin:0;
}