.closebutton{
    top: 0;
    right: 0;
    position: fixed;
    background-color: lightgray;
    color: white;
}

.closebutton:hover{
    background-color: gray;
}

.user-btn{
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}